body{
  font-family:"Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* Monserrat-Bold Replacement */
}

p{
  color: #8f8f8f;
  font-weight: 500;
}

/* General Class section */

/* Containers */
.container-fluid{
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

/* Headings */
.big-heading{
  font-family:"Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900; /* Monserrat-Black Replacement */
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
  /* overflow: hidden; */
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
}

 /* Download Button */
 .download-btn{
   margin: 5% 3% 5% 0;
 }

 .download-icon{
   margin-right: 10px;
 }

/* Title Image */
.img-container{
  position: relative;
}

.title-img{
  position: absolute;
  /* width: 60%; */
  width: 350px;
  transform: rotate(25deg);
  top: 8%;
  right: 25%;
}

/* Feature Section */
#features{
 position: relative;
}

.feature-column{
 padding-bottom: 10%;
}

.features-title{
  font-size: 1.5rem;
}

.feature-icons{
  color: #ef8172;
  padding: 10px;
}

.feature-icons:hover{
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
}

.testimonials-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section */
#press{
  background-color: #ef8172;
  padding-bottom: 5%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
  padding : 100px;
}

.pricing-column{
  padding: 2% 2% 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* cta section */


/* footer section */
#footer{
  background-color: #fff;
}
.footer-icons{
  margin: 20px 10px;
}

.top-container{
   /* height:  100vh; */
   /* overflow: hidden; */
   /* Use vh (viewport height), instead of rem so it works with different screen sizes.  */
}


/* Hide div element when screen size is smaller than a specific size */
/* @media only screen and (max-width: 1280px) {
    .title-img {
        display: none;
    }

} */


/* will center all title elements & rotate title-image to normal */
@media (max-width: 1280px){
  .title-img {
      position: static;
      transform: rotate(0);
  }
  #title{
      text-align: center;
  }
  .navbar{
    text-align: right;
  }
}

@media (max-width: 1280px) and (min-width: 990px) {
  .title-img {
      position: static;
      transform: rotate(0);
  }
  #title{
      text-align: left;
  }
  .navbar{
      text-align: right;
  }
}
