/*******************************TAG SELECTOR********************************/
h1{
  color: red;
  font-size: 200px;
}

p{
  color: orange;
  font-family: cursive;
}

img:hover{
    background-color:gold;
  }

/*******************************CLASS SELECTOR********************************/
.bacon{
  background-color:red;
}

.broccoli{
  background-color:green;
}

.circular{
  border-radius: 100%;
}
/*******************************ID   SELECTOR********************************/
#heading{
  color: blue;
}
