body{
  background-color: white;
  text-align: center;
  margin: 0;
}
.top-container{
  color: #082032;
  background-color: #F0A500;
  position: relative;
  padding-top: 100px;

}
.middle-container{
  width: 200px;
  height: 200px;
  background-color: red;
}
.bottom_container{
  width: 200px;
  height: 200px;
  background-color: blue;
}
h1{
  margin-top: 0;
}
span{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 330px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
